<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIP Calculator for Mutual funds.</title>
    <meta property="og:title" content="SIP Calculator 💸" />
    <meta property="og:description" content="Calculate your Mutual funds SIP returns very easily ☺" />
    <meta property="og:url" content="https://sipcalculator.herokuapp.com/" />
    <meta name="description"
        content="SIP Calculator helps you to calculate your investment esttimated returns and to find the right amount to make your wealth.">
    <meta property="og:image" content="https://sipcalculator.herokuapp.com/images/preview.png">
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="SIP Calculator for Mutual funds.">
    <meta property="twitter:account_id" content="1455794542309896193">
    <meta name="twitter:creator" content="@vishal26x" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <h1>SIP Calculator</h1>
        <div class="me">by <a style="color: black; font-weight: 500;" href="https://fb.com/geekyvishal"
                target="_blank">Vishal</a></div>
    </nav>

    <div class="container">
        <div class="box">
            <form action="/" method="post">

                <div class="input">
                    <label for="mi">Monthly investment</label>
                    <div for="mi" class="useri">
                        <input onClick="this.select()" id="mi" name="msip" type="number" value="<%= up %>"
                            placeholder="Enter investment">
                        <p>/ Per month</p>
                    </div>
                </div>
                <div class="input">
                    <label for="rr">Return rate</label>
                    <div class="useri">
                        <input onClick="this.select()" id="rr" name="intrest" type="number" value="<%= uIn %>"
                            placeholder="Enter return rate (p.a.) ">
                        <p>%</p>
                    </div>
                </div>
                <div class="input">
                    <label for="y">Time period</label>
                    <div class="useri">
                        <input onClick="this.select()" id="y" name="year" type="number" value="<%= uy %>"
                            placeholder="Enter years">
                        <p>Years</p>
                    </div>
                </div>

                <button class="cal" type="submit">Calculate</button>

            </form>
        </div>
        <div class="box right-box">

            <div class="result">

                <div class="label">
                    <ul>
                        <li>Your total investment</li>
                        <li>Esttimated returns</li>
                        <li>Total value</li>
                    </ul>
                </div>
                <div class="value">
                    <ul>
                        <li>₹<%= investment %>/-</li>
                        <li>₹<%= returns %>/-</li>
                        <li>₹<%= value %>/-</li>
                    </ul>
                </div>
            </div>
            <div class="ref">
                <h3>Start your SIP</h3>
                <div class="images">
                    <a href="https://groww.in/login" target="_blank"><img class="broker-image" src="images/groww.png"
                            alt="" srcset=""></a>
                    <a href="https://login.paytmmoney.com/?returnUrl=https%3A%2F%2Fwww.paytmmoney.com%2Fmutual-funds%2Faccount%2Fdashboard"
                        target="_blank"><img class="broker-image" src="images/paytm.png" alt="" srcset=""></a>
                    <a href="https://zerodha.com/open-account?c=TQ5471" target="_blank"><img class="broker-image"
                            src="images/zerodha.svg" alt="" srcset=""></a>
                    <a class="share">
                       Share this<ion-icon name="share-social-outline"></ion-icon>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <footer>
        © 2021 SIP Calculator | Made with ❤️ in India
    </footer>
    <script src="js/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>